<h1>Nouveau message provenant de "monsite.fr"</h1>

<ul>
    <li>{{ datas.prenom }} {{ datas.nom }}</li>
    <li>{{ datas.mail }}</li>
    <li>{{ datas.object }}</li>
</ul>

<p>{{ datas.content }}</p>