{% extends 'base.html.twig' %}

{% block title %}Détail d'un article{% endblock %}

{% block body %}

    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>

    <a href="{{ path('article_list') }}">Retour à la liste des articles</a>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{{ path('article_update', {id: article.id }) }}" class="btn btn-sm btn-outline-secondary">Modifier l'article</a>
        <a href="{{ path('article_delete', {id: article.id }) }}" class="btn btn-sm btn-outline-secondary">Supprimer l'article</a>
    </div>

    <div id="likes">
        <span>{{ article.likes }}</span>
        <button class="btn btn-primary" data-id="{{ article.id }}">
            <i class="far fa-hand-point-right"></i>
        </button>
    </div>



    <h2>Commentaires</h2>
    {% for comment in article.comments %}
        <div class="card">
            <div class="card-body">
                {{ comment.content }}
            </div>
        </div>
    {% endfor %}
    <h2>Ajouter un commentaire</h2>
    {{ form_start(commentForm) }}
        {{ form_widget(commentForm.content) }}
        {{ form_errors(commentForm.content) }}
        <input type="submit" value="Publier" class="btn btn-block btn-success">
    {{ form_end(commentForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax-article-likes.js') }}"></script>
{% endblock %}







